* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    /* display: inline-block; */
}

a:hover {
    color: inherit;
    text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

/* page-right-welcome ----------------------------------------------------------- */

.page-right-welcome {
    background-color: white;
    display: block;
    padding: 35px 15px 50px;
    box-sizing: border-box;
    border-radius: 15px;
}

.page-right-welcome__title {
    color: #282828;
    font-size: 1.4em;
    text-align: center;
    text-transform: uppercase;
}

.page-right-welcome__text {
    color: #282828;
    font-size: 0.9em;
    margin-top: 25px;
}

/* page-right-tabs ----------------------------------------------------------------- */


.page-right-tabs {
    margin-top: 35px;
}

.page-right-tabs__top-block-wrapper {
    display: flex;
    width: 100%;
}

.page-right-tabs__top-block {
    background-color: #23b4ca;
    color: white;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px 15px 0 0;
}

.page-right-tabs__top-block:first-child {
    margin-right: 4px;
}

.page-right-tabs__top-block-text {
    font-style: italic;
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
}

.page-right-tabs__top-block.active {
    background-color: white !important;
    color: #23b4ca;
}

.page-right-tabs__main {
    background-color: white;
    padding-bottom: 15px;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.page-right-tabs__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px 15px 0 15px;
    background-color: white;
}

.page-right-tabs__img {
    display: block;
    max-width: 18%;
}

.page-right-tabs__news-inner {
    max-width: 81%;
}

.page-right-tabs__title {
    color: #23b4ca !important;
    font-size: 1.2em;
    font-style: italic;
}

.page-right-tabs__text {
    font-weight: 300;
}

.page-right-tabs__date {
    opacity: 0.7;
    margin-top: 10px;
}

.page-right-tabs__line {
    width: 100%;
    height: 1px;
    display: block;
    border: 1px dashed black;
    opacity: 0.5;
    margin-top: 15px;
}




.page-right-tabs__docs {
    background-color: white;
    padding-bottom: 15px;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
	display: none;
}

.page-right-tabs__docs-item {
	padding: 15px;
	display: flex;
	align-items: center;
}

.page-right-tabs__icon {
	margin-right: 10px;
}

.page-right-tabs__doc {
	color: rgb(98, 98, 255) !important;
	text-decoration: underline !important;
}


/* contacts --------------------------------------------------------------------- */

.contacts {
    padding-top: 35px;
}

.contacts__block {
    background-color: white;
    display: block;
    box-sizing: border-box;
    padding: 25px;
}

.contacts__title {
    font-weight: 700;
    font-size: 1.2em;
}

.contacts__text {
    margin-top: 10px;
}

.contacts__text:first-child {
    margin-top: 0;
}

.contacts__map {
    height: 300px;
    display: block;
}

/* footer ------------------------------------------------------------------------- */

.footer {
    margin-top: 35px;
    padding: 15px;
    background-color: #c7dde0;
    ;
}

.footer__text {}